/* Styles for email list plugin form */

#email_list_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#email_list_form label {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 5px;
}

#email_list_form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "Railway", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

#email_list_form button {
  background: #030098;
  color: #ffffff;
  border: none;
  border-radius: 25px 0 25px 25px;
  padding: 8px 24px;
  width: fit-content;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

#email_list_form p {
  font-family: "Railway", sans-serif;
  font-size: 16px;
  font-weight: 200;
}
#email_list_form button:hover {
  cursor: pointer;
  background-color: #ff00a8;
}

.button_wrapper {
  margin-top: 10px;
}

#form_success {
  max-width: 250px;
  font-family: "Roboto mono", monospace;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  /* No border or shadow by default */
  border: none;
  box-shadow: none;
  display: none; /* Hide by default */
}

#form_success.active {
  border: 2px solid #161616;
  border-radius: 25px 25px 0 25px;
  background: #ffffff;
  padding: 20px;
  display: block;
}

#form_error {
  color: red;
  font-size: 16px;
  height: 100%;
  margin: 10px;
  visibility: hidden;
}

/* Mobile settings */

@media only screen and (max-width: 425px) {
  #email_list_form label,
  #email_list_form button,
  #form_success {
    font-size: 16px;
  }

  #email_list_form p,
  #form_error {
    font-size: 14px;
  }

  #form_error {
    height: auto;
  }
}
