#email_list_form {
  max-width: 500px;
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
}

#email_list_form label {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 5px;
}

#email_list_form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "Railway", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

#email_list_form button {
  background: #030098;
  color: #ffffff;
  border: none;
  border-radius: 25px 0 25px 25px;
  padding: 15px;
  width: fit-content;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

#email_list_form p {
  font-family: "Railway", sans-serif;
  font-size: 16px;
  font-weight: 200;
}
#email_list_form button:hover {
  cursor: pointer;
  background-color: #ff00a8;
}

.button_wrapper {
  margin-top: 10px;
}

#form_success {
  max-width: 200px;
  margin: 20px auto;
  justify-content: center;
  font-family: "Roboto mono", monospace;
  font-size: 18px;
  text-transform: uppercase;
}

#form_error {
  color: red;
  font-size: 16px;
  height: 20px;
  margin: 10px;
  visibility: hidden;
}

@media only screen and (max-width: 425px) {
  #email_list_form label,
  #email_list_form button,
  #form_success {
    font-size: 16px;
  }

  #email_list_form p,
  #form_error {
    font-size: 14px;
  }

  #form_error {
    height: auto;
  }
}
